.DS_Store
.idea/
.vscode/
artifacts/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# TEst binary, built with `go test- c`
*.test

# Output of the go coverage tool
*.out

# Dependency directory
vendor/

# Go workspace file
go.work